{% extends 'foodfriend/base.html' %}
{% load staticfiles %}
{% block title %}
<font color="white">Food Friend
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'my-blank.css' %}" >
<div class="content-block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% if avatar %}
            <img src="/{{ avatar }}" width="25%" height="25%">
            {% endif %}
            <h3>{{ user }} | CALENDAR</a></h3>
        </div>
        <div class="panel-body">

            <div>
                <table class="table" id="albums-table">
                    <thead>
                    <tr>
                        <th>Days:</th>

                    </tr>
                    </thead>
                    <tbody class="list">
                    {{ example }}
                    {% for day in days %}
                        <tr>
                            <td><a href="{% url 'calendar-meal' my_id=my_id day_id=day.id %}">{{ day.date }} - {{day.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                                    <div class="my_charts">

        <canvas id="myChart" width="800" height="400"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">

            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                var myChart = new Chart(ctx).Line(data, {showTooltips: true});




            });






        </script>




                </div>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}

