{% extends 'foodfriend/base.html' %}

{% block title %}
<font color="white">Food Friend</font>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/my.css" >
<div class="content-block">


 <div class="panel panel-primary">
        <div class="panel-heading">
            {% if avatar %}
            <img src="/{{ avatar }}" width="25%" height="25%">
            {% endif %}
            <h3><b>{{ user }}</b> | CALENDAR</font></a></h3>
        </div>
        <div class="panel-body">

            <div>
                <table class="table" id="albums-table">
                    <thead>
                    <tr>
                        <th>Days:</th>

                    </tr>
                    </thead>
                    <tbody class="list">

                    {{ example }}
                    {% for day in days %}
                        <tr>
                            <td><a href="{% url 'calendar-meal' my_id=my_id day_id=day.id %}">{{ day.date }}</a></td>

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
{% endblock %}

