{% extends 'foodfriend/base.html' %}
{% load staticfiles %}



{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" style="color:white; background-color: rgba(255,255,255,0.0);"><b>FOOD FRIEND</b></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">{% if avatar %}
          <li><img src="/{{ avatar }}" width="50px" height="auto" style="padding: 2px 2px; margin-top: 0px;"></li>
          {% endif %}
          <li><a href="{% url 'my-info' request.user.id %}">{{ request.user.username }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'test' my_id=request.user.id %}">Edit Profile</a></li>
          <li class="active"><a href="{% url 'calendar' my_id=request.user.id %}">Calendar<span class="sr-only">(current)</span></a></li>

          <li><a href="{% url 'food-list' %}">Food List</a></li>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'logout' %}"><B>LOGOUT</B></a></li>
      </ul>
    </div>
  </div>
</nav>
<link rel="stylesheet" type="text/css" href="{% static 'my-blank.css' %}">
<!--<div class="content-block">-->
    <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading">-->
            <!--<h3>CALENDAR</h3>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
            <!--<div>-->
                <!--<table class="table" id="albums-table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Days:</th>-->

                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody class="list">-->


                    <!--{% for day in days %}-->
                        <!--<tr>-->
                            <!--<td><a href="{% url 'calendar-meal' my_id=my_id day_id=day.id %}">{{ day.date }} - {{ day.name }}</a></td>-->
                        <!--</tr>-->
                    <!--{% endfor %}-->
                    <!--</tbody>-->
                                    <div class="my_charts">

        <canvas id="myChart" width="800" height="400"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">

            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");

                var options = {
                labelColor: "white",
                showTooltips: true,
                mutliTooltipTemplate: "TEST",
                scaleGridLineColor: 'grey',
                scaleLineColor : 'grey',
                legendTemplate: "TEST",
                }
                var myChart2 = new Chart(ctx).Line(data, options);
            });

<!--<%= data.labels[0] %>-->

        </script>

                </div>
                </table>
            </div>
        </div>

    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <div id="datepicker" class="hasDatepicker my_margin">
            <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;">
                <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">

                <div class="ui-datepicker-title">
                    <span class="ui-datepicker-month">{{ cal_month }}</span>
                    <span class="ui-datepicker-year">{{ cal_year }}</span>
                </div>
            </div>
            <table class="ui-datepicker-calendar">
                <thead>
                    <tr>
                        <th class="ui-datepicker-week-end" scope="col">
                            <span title="Sunday">Su</span>
                        </th>
                        <th scope="col">
                            <span title="Monday">Mo</span>
                        </th>
                        <th scope="col">
                            <span title="Tuesday">Tu</span>
                        </th>
                        <th scope="col">
                            <span title="Wednesday">We</span>
                        </th>
                        <th scope="col">
                            <span title="Thursday">Th</span>
                        </th>
                        <th scope="col">
                            <span title="Friday">Fr</span>
                        </th>
                        <th class="ui-datepicker-week-end" scope="col">
                            <span title="Saturday">Sa</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for x, y, z in week_1_with_yes_no  %}
                        {% if x in yes %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-active" href="{{ request.user.id }}/meal/{{ z }}">{{ y }}</a>
                        </td>
                        {% elif x in no %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-default">{{ y }}</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for x, y, z in week_2_with_yes_no  %}
                        {% if x in yes %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-active" href="{{ request.user.id }}/meal/{{ z }}">{{ y }}</a>
                        </td>
                        {% elif x in no %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-default">{{ y }}</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for x, y, z in week_3_with_yes_no  %}
                        {% if x in yes %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-active" href="{{ request.user.id }}/meal/{{ z }}">{{ y }}</a>
                        </td>
                        {% elif x in no %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-default">{{ y }}</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for x, y, z in week_4_with_yes_no  %}
                        {% if x in yes %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-active" href="{{ request.user.id }}/meal/{{ z }}">{{ y }}</a>
                        </td>
                        {% elif x in no %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-default">{{ y }}</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for x, y, z in week_5_with_yes_no  %}
                        {% if x in yes %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-active" href="{{ request.user.id }}/meal/{{ z }}">{{ y }}</a>
                        </td>
                        {% elif x in no %}
                        <td class=" " data-handler="selectDay" data-event="click" data-month="{{ cal_month_number }}" data-year="{{ cal_year }}">
                            <a class="ui-state-default">{{ y }}</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>


        </div>
        </div>



</div>



{% endblock %}

{{ pycal }}