{% extends 'foodfriend/base.html' %}

{% block title %}
<font color="white">Food Friend</font>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/my.css" >
<div class="new-food">

 <div class="panel panel-primary">
        <div class="panel-heading">
            {% if avatar %}
            <div class="button-away-button">
            <img src="/{{ avatar }}" width="10%" height="10%">
            </div>
            {% endif %}
            <div class="button-away-button">
            <span><font size="5">{{ day_date }} | {{ meal_name }}</font></span>
            </div>
        </div>
        <div class="panel-body">

            <div>
                <table class="table" id="albums-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>kcal</th>
                        <th>proteins[g]</th>
                        <th>carbs[g]</th>
                        <th>fats[g]</th>
                        <th>quantity[g]</th>

                    </tr>
                    </thead>
                    <tbody class="list">

                {% for food in food_names %}
                        <tr>
                            <td><b>{{ food.name }}:</b></td>
                            <td>{{ food.kcal }}</td>
                            <td>{{ food.proteins }}</td>
                            <td>{{ food.carbs }}</td>
                            <td>{{ food.fats }}</td>
                            <td>{{ food.quantity }}</td>
                        </tr>
                    {% endfor %}

                <td><b>TOTAL: </b></td>
                <td><b>{{ kcal_sum }}</b></td>
                <td><b>{{ proteins_sum }}</b></td>
                <td><b>{{ carbs_sum }}</b></td>
                <td><b>{{ fats_sum }}</b></td>
                    <td></td>

                    </tbody>
                </table>
            </div>

            <div class="my_margin">
                <div class="button-next-button">
    <form action="{% url 'create-meal' %}">
        {% csrf_token %}
        <input type="submit" value="UPDATE" class="btn btn-secondary btn-sm">
    </form>
                </div>
                <div class="button-next-button">
              <form action="{% url 'calendar-meal' my_id=request.user.id day_id=day_id %}">
        {% csrf_token %}
        <input type="submit" value="BACK TO MEALS" class="btn btn-secondary btn-sm">
    </form>
                </div>



    </div>



        </div>
    </div>
</div>
{% endblock %}

