{% extends 'foodfriend/base.html' %}

{% block title %}
<font color="white">Food Friend</font>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/my.css" >
<div class="new-food">

 <div class="panel panel-primary">
        <div class="panel-heading">
            {% if avatar %}
            <img src="/{{ avatar }}" width="25%" height="25%">
            {% endif %}
            <h3>{{ day_date }} | {{ meal_name }}</h3>
        </div>
        <div class="panel-body">

            <div>
                <table class="table" id="albums-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>kcal</th>
                        <th>proteins[g]</th>
                        <th>carbs[g]</th>
                        <th>fats[g]</th>
                        <th>quantity[g]</th>

                    </tr>
                    </thead>
                    <tbody class="list">

                {% for food in food_names %}
                        <tr>
                            <td><b>{{ food.name }}:</b></td>
                            <td>{{ food.kcal }}</td>
                            <td>{{ food.proteins }}</td>
                            <td>{{ food.carbs }}</td>
                            <td>{{ food.fats }}</td>
                            <td>{{ food.quantity }}</td>



                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="my_margin">
    <form action="{% url 'update-meal' pk=meal_id %}">
        {% csrf_token %}

        <input type="submit" value="UPDATE" class="btn btn-secondary btn-sm">
    </form>



    </div>



        </div>
    </div>
</div>
{% endblock %}

