
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodFriend</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css" >
</head>
<body>

        {% if not request.user.username %}

    <div class="base-headline-title">
        <h3><font color="white">
            {% block title %}Welcome to Food Friend{% endblock %}
        </h3></font>
    </div>

    <div class="content-block">
        <div class="panel panel-primary">
        <div class="panel-heading">
            Please login:
        </div>
        <div class="panel-body">


            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="LOGIN" class="btn btn-secondary btn-sm">
                </form>
            </div>
        </div>

    </div>
    <div>
        <a href="{% url 'create-account' %}">
        <font color="white" class="join">Join our community</font>
        </a>
    </div>
    </div>


</body>
</html>
{% endif %}

{% if request.user.username %}

    <div class="topmenu">
        <p class="navbar-right logout">
            <a class="menuspace" href="{% url 'my-info' request.user.id %}"><font color="white">
            {{ request.user.username }}   |</font>
            <a class="menuspace" href="{% url 'test' my_id=request.user.id %}"><font color="white">EDIT</a>|</font>
            <a class="menuspace" href="{% url 'calendar' my_id=request.user.id %}"><font color="white">CALENDAR</a>|</font>
            <a class="menuspace" href="{% url 'create-food' %}"><font color="white">CREATE FOOD</a> | </font>
                <a class="menuspace" href="{% url 'food-list' %}"><font color="white">FOOD LIST</a> | </font>
            <a class="menuspace" href="{% url 'index' %}"><font color="white">MAIN</a> | </font>
                <a class="menuspace" href="{% url 'logout' %}"><font color="white">LOGOUT</a>  </font>

        </p>
    </div>

    <div class="my_margin">
        <font color="white">
            <h3>Welcome to Food Friend  {{ request.user.username }}!</h3>
            <h5>You haven't been here since: {{ request.user.last_login }}</h5>
            <h3>Your daily goal:</h3>
            <div>
                <h1>
                {{ calories }} / {{ request.user.userextend.calories }} kcal
                </h1>
                <h1>
                {{ proteins }} / {{ request.user.userextend.protein }} proteins
                </h1>
                <h1>
                {{ carbs }} / {{ request.user.userextend.carb }} carbs
                </h1>
                <h1>
                {{ fats }} / {{ request.user.userextend.fat }} fats
                </h1>
            </div>
        </font>
    </div>
    <div class="my_margin">
    <form action="{% url 'calendar' request.user.id %}">
        {% csrf_token %}

        <input type="submit" value="ADD FOOD" class="btn btn-secondary btn-sm">
    </form>
    </div>

</body>
</html>

{% endif %}

