{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodFriend</title>

    {% load bootstrap3 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css" >

</head>
<body>
        {% if not request.user.username %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="/static/custom.css" >
        <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    <div class="base-headline-title">
        <h3><font color="white">
            {% block title %}Welcome to Food Friend{% endblock %}
        </h3></font>
    </div>

    <div class="content-block">
        <div class="panel panel-primary">
        <div class="panel-heading">
            Please login:
        </div>
        <div class="panel-body">


            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="LOGIN" class="btn btn-secondary btn-sm">
                </form>
            </div>
        </div>
            <div>

    </div>
    </div>
        <a href="{% url 'create-account' %}">
            <font color="white" style="float=right;"><b>JOIN OUR COMMUNITY</b></font>
        </a>
    </div>
</body>
</html>
{% endif %}

{% if request.user.username %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" style="color:white; background-color: rgba(255,255,255,0.0);"><b>FOOD FRIEND</b></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">{% if avatar %}
          <li><img src="/{{ avatar }}" width="auto" height="50px" style="padding: 2px 2px; margin-top: 0px;"></li>
          {% endif %}
          <li><a href="{% url 'my-info' request.user.id %}">{{ request.user.username }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'test' my_id=request.user.id %}">Edit Profile</a></li>
          <li><a href="{% url 'calendar' my_id=request.user.id %}">Calendar</a></li>

          <li><a href="{% url 'food-list' %}">Food List</a></li>
          <li class="active"><a href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="{% url 'logout' %}"><B>LOGOUT</B></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="my_margin2">
    <font color="white">
<h3>Welcome to Food Friend  {{ request.user.username }}!</h3>
            <h5>You haven't been here since: {{ request.user.last_login }}</h5>
    </div>
    <div class="my_margin">
        <font color="white">

            <h3>Your daily goal:</h3>
            <div>
                <h1>
                {{ calories }} / {{ request.user.userextend.calories }} kcal
                </h1>
                <h1>
                {{ proteins }} / {{ request.user.userextend.protein }} proteins
                </h1>
                <h1>
                {{ carbs }} / {{ request.user.userextend.carb }} carbs
                </h1>
                <h1>
                {{ fats }} / {{ request.user.userextend.fat }} fats
                </h1>
                <h1>
                     {{ water }} / {{ request.user.userextend.water }} ml <img src="/static/foodfriend/img/h2o.svg" width="70px" height="auto" style="padding: 2px 2px; margin-top: 0px;">
                </h1>


                <div class="progress">
                    <div class="progress-bar" style="width: {{ progress }}%;">
                        <span class="sr-only">{{ progress }}% Complete</span>
                        {% if progress < 100 %}
                        THAT IS GOOD! YOU ARE ALMOST DONE!
                        {% else %}
                        GOOD JOB!
                        {% endif %}
                    </div>
                </div>
                <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
                    {% if zero_water == 1 %}
                    <input type="submit" name= "add_water" value="ADD GLASS" class="btn btn-primary">
                    <input type="submit" name="delete_water" value="REMOVE GLASS" class="btn btn-danger">
                    {% elif zero_active_water == 0 %}
                    <input type="submit" name= "add_water" value="ADD GLASS" class="btn btn-primary disabled">
                    <input type="submit" name="delete_water" value="REMOVE GLASS" class="btn btn-danger disabled" style="pointer-events: none">
                    {% elif zero_water == 0 %}
                    <input type="submit" name= "add_water" value="ADD GLASS" class="btn btn-primary">
                    <input type="submit" name="delete_water" value="REMOVE GLASS" class="btn btn-danger disabled" style="pointer-events: none">
                    {% endif %}
                </form>
            </div>
        </font>
    </div>
    <div class="my_charts">
    {% if request.user.userextend.calories == None %}<font size="6"><b>PLEASE ENTER ALL DATA IN EDIT PROFILE<br> TO
        MAKE YOUR CHART VISIBLE</b> </font>{% endif %}
    </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <div class="my_charts">
        <canvas id="daily" width="600" height="300"></canvas>
        <script type="text/javascript">
            <!--var options: {-->
        <!--scales: {-->
            <!--yAxes: [{-->
                <!--ticks: {-->
                    <!--max: 5,-->
                    <!--min: 0,-->
                    <!--stepSize: 0.5-->
                <!--}-->
            <!--}]-->
        <!--}-->
    <!--}-->


            var barData = {
                labels : ["kcal","proteins","carbs","fats"],
                datasets : [
                    {
                        fillColor : "rgb(255,255,255)",
                        strokeColor : "rgb(255,255,255)",
                        data : [{{ request.user.userextend.calories }},{{ request.user.userextend.protein }},{{ request.user.userextend.carb }},{{ request.user.userextend.fat }}]
                    },
                    {
                        fillColor : "rgba(255,255,255,0.4)",
                        strokeColor : "rgba(255,255,255,0.4)",
                        data : [{{ calories }},{{ proteins }},{{ carbs }},{{ fats }}]
                    }
                ]
            }
            var daily = document.getElementById("daily").getContext("2d");
            new Chart(daily).Bar(barData);
        </script>
        </div>



</body>
</html>

{% endif %}

