{% extends 'foodfriend/base.html' %}

{% block title %}
<font color="white">Food Friend</font>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/my.css" >
<div class="content-block">

 <div class="panel panel-primary">
        <div class="panel-heading">
            {% if avatar %}
            <img src="/{{ avatar }}" width="25%" height="25%">
            {% endif %}
            <h3>{{ day_date }}</h3>
        </div>
        <div class="panel-body">

            <div>

                {% for meal in meal_names %}
                        <tr>
                            <td><a href="{% url 'calendar-food' my_id=request.user.id day_id=day_id meal_id=meal.id %}">{{ meal.name }}</td><hr>
                        </tr>
                    {% endfor %}

            </div>
<div class="button-next-next">
    <form action="{% url 'create-meal' %}">
        {% csrf_token %}

        <input type="submit" value="ADD MEAL" class="btn btn-primary">
    </form>
    </div>
        </div>
    </div>
</div>
{% endblock %}

