<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodFriend</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/my.css" >
</head>
<body>
<div class="topmenu">
        <p class="navbar-right logout">
            {% if request.user.username %}
            <a class="menuspace" href="{% url 'my-info' my_id=request.user.id %}"><font color="white">
            {{ request.user.username }}   |</font>
            <a class="menuspace" href="{% url 'test' my_id=request.user.id %}"><font color="white">EDIT</a>|</font>
            <a class="menuspace" href="{% url 'calendar' my_id=request.user.id %}"><font color="white">CALENDAR</a>|</font>
            <a class="menuspace" href="{% url 'create-food' %}"><font color="white">CREATE FOOD</a> | </font>
                <a class="menuspace" href="{% url 'food-list' %}"><font color="white">FOOD LIST</a> | </font>
            <a class="menuspace" href="{% url 'index' %}"><font color="white">MAIN</a> | </font>
                <a class="menuspace" href="{% url 'logout' %}"><font color="white">LOGOUT</a>  </font>


                {% endif %}

        </p>
    </div>
<div class="my_margin">
        <font color="white">
            <h3>Food Friend </h3>
        </font>
</div>
    <div class="my_margin">
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="to-calendar">
                <font color="grey">
            {{ form.as_p }}
                </font>
            <input type="submit" value="UPDATE">
            </div>
        </form>
    </div>
    {% bootstrap_javascript %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    {% block content_js %}
    {% endblock %}
</body>
</html>